@import "./global.scss";

.casestudyText {
  width: $width;
  max-width: $max-width;
  margin: 12vw auto;

  .casestudyText-innerbox {
    width: 50%;
    max-width: 769px;
    margin: 0 auto;

    @media screen and (max-width: 769px) {
      width: 100%;
    }
  }

  .casestudyText__title {
    margin-bottom: 3rem;
    font-size: 3.2rem;
    // text-align: center;
  }

  p {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: justify;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
