@import "./global.scss";

.casestudyControl {
  width: $width;
  max-width: $max-width;
  margin: 5vw auto 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 0 10vw;
  display: flex;
  justify-content: space-between;

  button {
    all: unset;
    border: none;
    font-size: 1.6rem;
    font-weight: 300;
  }
}
