@import "./global.scss";

.skills {
  .skills__title {
    margin-bottom: 8px;
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;

    @media screen and (max-width: 769px) {
      font-size: 2.4rem;
    }
  }

  .skills__text {
    margin-bottom: 4rem;
    font-size: 1.4rem;
    text-align: center;
  }

  .skills__list {
    width: fit-content;
    margin: 0 auto;

    li {
      width: fit-content;
      margin: 0 auto;

      span {
        display: inline-block;
        margin: 5px;
        padding: 10px 15px;
        border: 1px solid black;
        border-radius: 30px;
        font-size: 1.4rem;

        @media (prefers-color-scheme: dark) {
          border: 1px solid rgba(255, 255, 255, 0.5);
        }

        @media screen and (max-width: 480px) {
          margin: 3px;
          padding: 10px;
          font-size: 1.3rem;
        }

        @media screen and (max-width: 400px) {
          font-size: 1.1rem;
        }
      }
    }
  }
}
