@import "./global.scss";

.transitionWrapper {
  width: 100vw;
  height: 100vh;
  background: black;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 1000;
  transform: translateY(-20%);
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

  will-change: transform;
}

.page-enter .transitionWrapper {
  transform: translateY(0%);
}

.page-enter-active .transitionWrapper {
  transform: translateY(100%);
}

.page-enter-done .transitionWrapper {
  transform: translateY(0%);
}

.page-exit .transitionWrapper {
  transform: translateY(0%);
}

.page-exit-active .transitionWrapper {
  transform: translateY(100%);
}
