@import "./global.scss";

.transitionWrapper {
  width: 100vw;
  height: 100vh;
  background: black;
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 1000;
  will-change: transform;
  transform: translateY(0%);
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.page-enter .transitionWrapper {
  transform: translateY(0%);
}

.page-enter-active .transitionWrapper {
  transform: translateY(120%);
}

.page-enter-done .transitionWrapper {
  &[data-active="true"] {
    transform: translateY(0%);
  }
  &[data-active="false"] {
    transform: translateY(120%);
  }
}

.page-exit .transitionWrapper {
  transform: translateY(0%);
}

.page-exit-active .transitionWrapper {
  transform: translateY(120%);
}
